body {
  color: black;
}

p, ul {
  font-size: 19px;
}

p {
  margin-bottom: 20px;
}

h1 {
  font-size: 21px;
  margin-bottom: 15px;
  font-weight: 700;
}

video, audio {
  width: 70%    !important;
  height: auto   !important;
  display: block;
  margin: 20px auto;
}

#bnr {
  margin: 20px auto;
  display: block;
  width: 30%;
}